#initializer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 75%;
    height: 75%;
}

#enterPlayerX {
    position: fixed;
    left: 10%;
    top: 30%;
}

#enterPlayerO {
    position: fixed;
    top: 30%;
    right: 10%;
}

#enterPlayerX,
#enterPlayerO {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#playButton {
    position: fixed;
    left: 50%;
    top: 70%;
    font-size: 2rem;
    transform: translate(-50%, -50%) scale(0);
}

#turnAnnouncement {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

#playGrid {
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%) scale(0);
}

#winnerAnnouncement {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.active {
    transform: translate(-50%, -50%) scale(1) !important;
}

.playGrids {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 3.75rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
}

#grid1,
#grid3,
#grid7,
#grid9 {
    border: 1px solid black;
}

#grid2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#grid4 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#grid6 {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#grid8 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.mark {
    margin: 0;
}

#playAgainButton {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}